<md-toolbar color="primary" class="navbar">
  <button class="app-icon-button" (click)="toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <a routerLink="/" class="valign-wrapper" style="text-decoration: none; color: white;">
    App
  </a>

  <span class="app-toolbar-filler"></span>
</md-toolbar>

<md-sidenav-container fullscreen style="top: 64px !important;">
  <md-sidenav [mode]="media.isActive('lg') ? 'side' : 'over'" [opened]="media.isActive('lg') ? true : false" #sidenav
              class="example-sidenav"
              style="width: 240px; box-shadow: 3px 0 6px rgba(0,0,0,.24);">
    <h3 md-subheader class="sidebar-header sidebar-title">Orders</h3>
    <md-list-item (click)="loadData()" class="sidebar-list-item">
      <a class="navbar-link">Get data</a>
    </md-list-item>

    <md-list-item (click)="drawPaths()" class="sidebar-list-item">
      <a class="navbar-link">Generate routes</a>
    </md-list-item>
  </md-sidenav>

  <div style="height: 100%;">
    <md-spinner style="position: absolute;z-index: 1;" *ngIf="$loading | async"></md-spinner>
    <div #map fxFlex></div>
  </div>

</md-sidenav-container>
