/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
div.container
{
  display: flex;
  margin-bottom: 10px;
}

div.container > div
{
  flex: 1 1 5em;
}

div.container > div:first-child
{
  margin-left: 0;
}

div.container > div.two
{
  flex:2 2 calc(10em + 10px); /** 10px is the missing margin of the missing box */
}

div.container > div.three
{
  flex:3 3 calc(15em + 20px); /** 20px is the missing margin of the two missing boxes */
}



.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
